<h4>Dodaj artykuł</h4>

<form [formGroup]="postForm" (ngSubmit)="submit()" novalidate>
  <div class="container">
    <mat-form-field>
      <input formControlName="title" matInput placeholder="Tytuł" />
    </mat-form-field>
  </div>

  <p *ngIf="showErrors && postForm.get('title').errors?.required">
    Wpisz tytuł artykułu
  </p>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Data wpisu" formControlName="datetime" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <p *ngIf="showErrors && postForm.get('datetime').errors?.required">
    Podaj datę
  </p>

  <app-file-input></app-file-input>

  <mat-form-field>
    <textarea formControlName="content" matInput placeholder="Treść artykułu"></textarea>
  </mat-form-field>

  <p class="alert alert-danger col-md-3" role="alert" *ngIf="showErrors && postForm.get('content').errors?.required">
    Treść artykułu jest wymagana
  </p>

  <button type="submit" mat-raised-button color="primary">Zapisz</button>

</form>
