<h4>Dodaj artykuł</h4>

<form [formGroup]="postForm" (ngSubmit)="submit()" novalidate>

  <mat-form-field>
    <input formControlName="title" matInput placeholder="Tytuł" />
  </mat-form-field>

  <p *ngIf="showErrors && postForm.get('title').errors?.required">
    Wpisz tytuł artykułu
  </p>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Data wpisu" formControlName="datetime" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <p *ngIf="showErrors && postForm.get('datetime').errors?.required">
    Podaj datę
  </p>

  <mat-form-field>
    <input formControlName="postFile" matInput placeholder="Podaj adres url pliku" />
  </mat-form-field>

  <p *ngIf="showErrors && postForm.get('postFile').errors?.required">
    Dodaj zdjęcie do artykułu
  </p>

  <mat-form-field>
    <textarea formControlName="content" matInput placeholder="Treść artykułu" cdkTextareaAutosize></textarea>
  </mat-form-field>

  <p *ngIf="showErrors && postForm.get('content').errors?.required">
    Treść artykułu jest wymagana
  </p>

  <button type="submit" mat-raised-button color="primary">Zapisz</button>

</form>