/* .mainPage {
    grid-area: main;
} */

#postList {
    grid-area: main;
}

#side {
    grid-area: sidenav;
}

#listView {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 70% 33%;
    grid-template-areas: 
    " main sidenav"
}

app-post-item {
    display: inline-block;
    width: 50%;
    height: 300px;

}
