.card {
  margin-bottom: 15px;
}

.header-image {
    background-size: cover;
  }

.card-header, .card-subtitle {
      justify-content: center;
  }

  mat-card-content {
    text-align: justify;
  }

  img {
    height: 350px;
    width: 400px;
    object-fit: cover;
  }

#likes {
  display: inline;
  color: #ff4081;
}

.row {
  display: inline-block;
  width: 100%;
  height: 40px;
}

.col-2, .col-8{
  display: inline-block;
  height: 40px;
} 

.col-2 {
  width: 20%;
}

.col-8 {
  width:60%
}

.mat-raised-button {
  float: right;
}

