<form [formGroup]="searchForm" novalidate>
  <div class="row lass form-inline my-2 my-lg-0 justify-content-end">
    <div id="sForm">
    <input class="form-control" type="search" formControlName="query">
    <button class="btn btn-secondary mx-4 my-2 my-sm-0" type="submit" (click)="search()"><i class="fas fa-search"></i></button>
  </div>
    <!-- <select formControlName="sort">
      <option *ngFor="let s of sortBy" [value]="s.value">{{s.label}}</option>
    </select>
  
    <select formControlName="order">
      <option *ngFor="let o of orderBy" [value]="o.value">{{o.label}}</option>
    </select> -->
    
  </div>
  </form>

