<form [formGroup]="searchForm" novalidate>
  <p id="sForm">
    <mat-form-field appearance="standard">
      <input matInput type="search" (search)="search()" formControlName="query">
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>Znajdź artykuł</mat-hint>
    </mat-form-field>
  </p>
</form>




<!-- <select formControlName="sort">
      <option *ngFor="let s of sortBy" [value]="s.value">{{s.label}}</option>
    </select>
  
    <select formControlName="order">
      <option *ngFor="let o of orderBy" [value]="o.value">{{o.label}}</option>
    </select>  -->