<mat-card id="aboutMe-card">
        <mat-card-header>
          <div mat-card-avatar id="aboutMe-image"></div>
          <mat-card-title>Ania Nowak</mat-card-title>
          <mat-card-subtitle>Kucharka amator</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Illum consequatur animi sit magnam ipsa, molestias ad quae dignissimos 
            libero placeat minus obcaecati velit quibusdam culpa eum quos ea commodi inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Illum consequatur animi sit magnam ipsa, molestias ad quae dignissimos 
            libero placeat minus obcaecati velit quibusdam culpa eum quos ea commodi inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Illum consequatur animi sit magnam ipsa, molestias ad quae dignissimos 
            libero placeat minus obcaecati velit quibusdam culpa eum quos ea commodi inventore?
          </p>
        </mat-card-content>

      </mat-card>
      