<mat-card id="aboutMe-card">
  <mat-card-header>
    <div mat-card-avatar id="aboutMe-image"></div>
    <mat-card-title>Ania Nowak</mat-card-title>
    <mat-card-subtitle>Kucharka amator</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Illum consequatur animi sit magnam ipsa, molestias ad quae dignissimos
    libero placeat minus obcaecati velit quibusdam culpa eum quos ea commodi inventore?
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Illum consequatur animi sit magnam ipsa, molestias ad quae dignissimos
    libero placeat minus obcaecati velit quibusdam culpa eum quos ea commodi inventore?
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Illum consequatur animi sit magnam ipsa, molestias ad quae dignissimos
    libero placeat minus obcaecati velit quibusdam culpa eum quos ea commodi inventore?
  
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions id="socialCard">
    <div class="socialMedia">
    <fa-icon [icon]="['fab', 'twitter-square']" size="2x"></fa-icon>
  </div>
  <div class="socialMedia">
    <fa-icon [icon]="['fab', 'facebook-square']" size="2x"></fa-icon>
  </div>
  <div class="socialMedia">
    <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
  </div>
  </mat-card-actions>

</mat-card>