header {
    display: grid;
    height: 600px;
    width: 100%;
    background-image: url(../assets/img/background_main.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#blogName {
    font-family: 'Indie Flower', cursive;
    color: #413e3e;
    font-size: 3.5rem;
}

.nav  {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    
}

